################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JkSimpleHR/.vs
/JkSimpleHR/JkSimpleHR/bin/Debug/netcoreapp2.1
/JkSimpleHR/JkSimpleHR/obj
